@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --root-background: #ffffff;
  --root-foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --root-background: #0a0a0a;
    --root-foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-inter-sans);
}
